* {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.select-container {
  margin-top: 20px;
}

.breed-select {
  width: 200px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cat-info {
  display: flex;
  gap: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.title,
.text,
.subtitle,
.loader {
  color: #22343d;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.text {
  font-size: 16px;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
}

/* .loader {
  font-size: 18px;
  font-weight: 600;
} */

.error {
  font-weight: 16px;
  font-weight: 500;
  color: red;
}

.is-hidden {
  display: none;
}

.img-style {
  border-radius: 8px;
}
